extends layout

block content
    .single__hero
        h1= client.name
    .single__details.inner
        .card
            h2 Contact Info
            ul
                li= client.contactName
                li= client.email
                li= client.phone
            h2 Client Sites
            ul
                each site in client.sites
                    li
                        a(href=`/site/${site._id}`)=site.name


