extends layout

include mixins/_siteCard


block content
    .inner
        h1= title
            em  (#{clients.length} total clients)
        table.table
            thead
                td Client
                td Contact Person
                td Email
                td Phone
            each client in clients
                tr
                    td
                        a(href=`/client/${client.slug}`)= client.name
                    td= client.contactName
                    td= client.email
                    td= client.phone
