doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      if user
        header.top
          nav.nav
            .nav__section.nav__section--pages
              li.nav__item
                a.nav__link.nav__link--logo(href="/")
                  h1 Home
              each item in h.menu
                li.nav__item
                  a.nav__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
                    span #{item.title}
            .nav__section.nav__section--search
              .search
                input.search__input(type="text" placeholder="Search for a site..." name="search")
                .search__results
      else
        .splash
          .splash__link--logo
            !=h.icon('logo')
          .splash__title


    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
    if user
      .content
        block content
    else
      .inner
        form.form(action="/login" method="POST")
          h2 Login
          label(for="email") Email Address
          input(type="email" name="email")
          label(for='password') Password
          input(type="password" name="password")
          input.button(type="submit" value="log in")

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
