extends layout

include mixins/_siteCard


block content
    .inner
        h1= title
        table.table
            thead
                td Site Name
                td Client
                td Hosting Vendor
                td Billable Total
                td renewal Date
            each site in sites
                tr
                    td
                        a(href=`/site/${site._id}`)= site.name
                    td
                        a(href=`/client/${site.client.slug}`)= site.client.name
                    td
                        a(href=`/vendor/${site.hostingVendor.slug}`)= site.hostingVendor.name
                    -let total = 0
                        for item in site.billableItems
                            - total = (total + item.rate)
                        td=`$ ${total}`

                    td= h.moment(site.renewal).format('MM/DD/YY')
